{% form_theme form '@BitBagSyliusProductBundlePlugin/Form/theme.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.code) }}
            {{ form_row(form.name) }}
            {{ form_row(form.products) }}
        </div>
    </div>
</div>
